
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(33, 243, 191);
  padding: 50px;
  align-content: space-around;
}

.grid-container > div {
  background-color: rgba(5, 4, 4, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  height: 100px;
}
